@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  flex: 1;
}

.left-links {
  margin: 0;
  padding: 0 20px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.right-links {
  margin: 0;
  padding: 0 20px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 6;
}

.buttons {
  margin-top: 20px;
}

.footer {
  background-color: lightgray;
  width: 100%;
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.footer a {
  color: grey;
}